*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
}

th, td {
    border: 1px solid black; 
    padding: 4px;
    text-align: left;
}

th {
    background-color: #000A65;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

ul li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #000A65;
}

header{
    background-color:#000321;
}

header h1{
    color: white;
}

body h2{
    text-align: center;
}



