*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

ul li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #000A65;
}

header{
    background-color:#000321;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%; 
    margin: auto; 
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


form label {
    font-weight: bold;
    margin-top: 10px;
}

form input, 
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


form textarea {
    resize: vertical;
    min-height: 100px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background: #000321;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #000A65;
}
.pie { 
    margin-top: 30%;
    text-align: center;  
    background-color: #000321;
    color: white;
} 

header h1{
    color: white;
}
body h2{
    text-align: center;
}